
.swiper-container {
    height: 300px;
}

@include media-breakpoint-up(md) {
  .swiper-container {
      height: 500px;
  }
}

@include media-breakpoint-up(lg) {
  .swiper-container {
      height: 700px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide--1 {
  background-image: url('/assets/img/slider/shop-1.jpg');
}

.swiper-slide--2 {
  background-image: url('/assets/img/slider/shop-2.jpg');
}

.swiper-slide--3 {
  background-image: url('/assets/img/slider/shop-4.jpg');
}

.swiper-slide--4 {
  background-image: url('/assets/img/slider/shop-3.jpg');
}

.swiper-slide--5 {
  background-image: url('/assets/img/slider/shop-5.jpg');
}

.swiper-slide--6 {
  background-image: url('/assets/img/slider/shop-6.jpeg');
}

.swiper-slide--7 {
  background-image: url('/assets/img/slider/shop-7.jpeg');
}

.swiper-slide--8 {
  background-image: url('/assets/img/slider/shop-8.jpeg');
}

.swiper-slide--9 {
  background-image: url('/assets/img/slider/shop-9.jpeg');
}

.swiper-slide--10 {
  background-image: url('/assets/img/slider/shop-10.jpeg');
}

.swiper-slide--11 {
  background-image: url('/assets/img/slider/shop-11.jpeg');
}

.swiper-slide--12 {
  background-image: url('/assets/img/slider/shop-12.jpeg');
}

.swiper-slide--13 {
  background-image: url('/assets/img/slider/shop-13.jpeg');
}
