@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "variables";

@import "bootstrap/bootstrap";

@import "swiper";

h1 {
  margin-bottom: 2rem;
  letter-spacing: 5px;
}

h1.fancy {
  display: inline-block;
  background-image: url('/assets/img/fond-pastel.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer a {
  @extend .text-dark;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.brand img {
  height: 60px;
  transition: filter .25s ease-in-out;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

.brand img:hover,
.brand img:focus {
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.merida__background {
  height: 60vh;
  background-image: url('/assets/img/merida-bike.jpg');
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
}

@media (hover: none) {
   .merida__background {
       background-attachment: initial;
   }
}

.velocorner-page[page=item-view] [info_table_cont] table td {
    color: white;
}
