<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-CH" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">

    <title>Cycles Lecrique | Atelier de vélo à Genève</title>
    <meta name="description" content="Chez les Cycles Lecrique vous trouverez votre petite reine idéale quoi que vous pratiquiez comme vélo. Take care of yourself, take care of your bike, and enjoy the ride.">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preload" as="font" href="/assets/fonts/CODE%20Bold.otf" crossorigin>
    <link rel="preload" as="font" href="/assets/fonts/CODE%20Light.otf" crossorigin>
  </head>
  <body>
    {{ content}}
  </body>
</html>
