<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-CH" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Cycles Lecrique | Merida Bike Shop Genève</title>
    <meta name="description" content="Chez les cycles Lecrique vous trouverez votre petite reine idéale quoi que vous pratiquiez comme vélo. Take care of yourself, take care of your bike, and enjoy the ride.">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {{ content}}
  </body>
</html>
