<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-CH" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">

    <title>Cycles Lecrique | Atelier de vélo à Genève</title>
    <meta name="description" content="Chez les Cycles Lecrique vous trouverez votre petite reine idéale quoi que vous pratiquiez comme vélo. Take care of yourself, take care of your bike, and enjoy the ride.">

    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preload" as="font" href="/assets/fonts/CODE%20Bold.otf" crossorigin>
    <link rel="preload" as="font" href="/assets/fonts/CODE%20Light.otf" crossorigin>

    <script type="module">
      import Swiper from '/assets/js/swiper-bundle.esm.browser.min.js'

      const swiper = new Swiper('.swiper-container', {
        // Optional parameters
        loop: true,
        autoplay: true,

        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      })

      var myCollapse = document.getElementById('navbarToggler')
      var bsCollapse = new bootstrap.Collapse(myCollapse, {
        toggle: false
      })
      window.bsCollapse = bsCollapse
      window.addEventListener('hashchange', function() {
        bsCollapse.hide()
      })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-52BT442K46"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-52BT442K46');
    </script>
  </head>
  <body>
    <div style="background-image: url('/assets/img/fond-pastel.jpg');">
      <div class="container">
        <p class="lead py-3 text-dark fw-bold">🌟 Dès le 26 septembre, rabais de 10% sur tous les vélos de marque MERIDA!</p>
      </div>
    </div>
    <nav id="navbar" class="navbar navbar-expand-lg sticky-top navbar-dark bg-body">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/assets/img/cycles-lecrique--logo-menu.png" alt="Cycles Lecrique" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/#news" onclick="bsCollapse.hide()">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#shop" onclick="bsCollapse.hide()">Le Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nos-velos" onclick="bsCollapse.hide()">Nos vélos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#kmh" onclick="bsCollapse.hide()">45km/h</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#merida" onclick="bsCollapse.hide()">Merida</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#contact" onclick="bsCollapse.hide()">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      {{ content}}
    </div>

    <div id="contact" class="py-5" style="padding-top: 100px; margin-top: -100px; background-image: url('/assets/img/fond-pastel.jpg'); background-size: cover; background-position: bottom left; background-attachment: fixed;">
      <section class="container text-dark">
        <h1>Contact</h1>

        <div class="row footer">
          <div class="col-md-4 mb-4">
            <b>Cycles Lecriques Sàrl</b>
            <br>
            <a href="mailto:cycles-lecrique@cycles-lecrique.ch">cycles-lecrique@cycles-lecrique.ch</a>
            <br>
            <a href="tel:+41227334522">+41 (0)22 733 45 22</a>
            <br>
            <a href="https://goo.gl/maps/L2qsrde8LuMwyBAP6">
              5 rue Hoffmann,
              <br>
              1202 Genève, Suisse
            </a>
          </div>
          <div class="col-md-4 mb-4">
            <p>
              <b>Horaires</b>
              <br>
              Mercredi - Jeudi - Vendredi: 9h00 - 18h30
              <br>
              Samedi: 9h00 - 12h00
              <br>
              Dimanche - Lundi - Mardi: fermé
            </p>
            <p>
              <b>Fermeture exceptionnelle vendredi 30 septembre</b>
            </p>
          </div>
          <div class="col-md-4">
            <a href="https://www.facebook.com/CyclesLecrique" class="d-inline-block me-3">
              <img src="/assets/img/social/facebook.png" alt="facebook" height="40" width="auto">
            </a>
            <a href="https://www.instagram.com/cycles.lecrique/">
              <img src="/assets/img/social/instagram.png" alt="Instagram" height="40" width="auto">
            </a>
            <br>
            <a href="https://velo-merida-geneve.ch/en/home/" class="d-inline-block mt-3">→ Merida Bike Shop Genève</a>
          </div>
        </div>
      </section>
    </div>

    {% if page.velos == true %}
      <script src="https://velocorner.ch/member-bikes/js/velocorner_member_bikes_app.min.js" charset=utf-8></script>
      <script>
          new VelocornerMemberBikes({
                  container_selector: '#velocorner_member_bikes_app',
                  member_id: 2098,
                  language: 'fr',
                  items_in_row: 3,
            items_per_page: 9,
            scroll_top_offset: -60,
            disable_auto_scroll_on_init: true,

                  ui_layout: {
          search_bar: {
          position: 'top', // top, left, right
          visible: true
            },

            author_info_block: {
            visible: false
            },
       },
          });

      </script>
    {% endif %}
  </body>
</html>
